.sidebar{
    min-height: 100vh;
    background-color:#212529;
}
.row{
    --bs-gutter-x:0;
}
.sidebar a {
    text-decoration: none;
    color: white ;
}
.sidebar li {
    padding: 10px 5px; 
    text-align: center;
}